<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registeration and Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'belt_exam/css/index.css' %}"> 

</head>

<body>

    <div class="container">
        <div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <h1>Login and Registration</h1>
        <h3 class="register_t">Register here!</h3>
        <div  class="register">
            <form action='/register' method='post'>
                {% csrf_token %}
                <div class="form-group" >
                    <label for="resgister">First Name:</label>
                    <input type="text" class="form-control" id="resgister" name="f_name"  value="{{request.session.first_name}}">
                </div>
                <div class="form-group" >
                    <label for="resgister">Last Name:</label>
                    <input type="text" class="form-control" id="resgister" name="l_name"  value="{{request.session.last_name}}">
                    </div>
                    <div class="form-group" >
                    <label for="resgister">Email address:</label>
                    <input type="text" class="form-control" id="resgister" name="femail"  value="{{request.session.email}}">
                    </div>
                    <div class="form-group" >
                    <label for="resgister">Password:</label>
                    <input type="text" class="form-control" id="resgister" name="f_pw">
                    </div>
                    <div class="form-group" >
                            <label for="resgister">Confirm Password:</label>
                            <input type="text" class="form-control" id="resgister" name="c_pw"  >
                            </div>
                    
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="login">
                <h3>Login here!</h3>
            <form action='/login_user' method='post'>
                {% csrf_token %}
                <div class="form-group" >
                    <label for="resgister">Email:</label>
                    <input type="text" class="form-control" id="resgister" name="log_email" aria-describedby="emailHelp" placeholder="Enter First Name">
                </div>
                <div class="form-group" >
                    <label for="resgister">Password:</label>
                    <input type="text" class="form-control" id="resgister" name="log_pw" aria-describedby="emailHelp" placeholder="Enter password">
                </div>
                
                    
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>

</body>

</html>